@use "../../styles/abstracts" as v; //Variables

.sidebar {
	position: fixed;
	top: 0;
	background-color: v.$black-normal;
	height: 100vh;
	width: 7.3125rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 1;

	.sportButtonsContainer {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
	}

	.copyRightContainer {
		position: absolute;
		bottom: 10%;
		width: 10rem;
		transform: rotate(-90deg);

		p {
			color: v.$white;
			font-size: v.$fs-xxx-sm;
			font-weight: v.$fw-normal;
			line-height: v.$lh-standard;
		}
	}
}

@media (max-width: 1024px) {
	.sidebar {
		.sportButtonsContainer {
			gap: 3rem;
		}
	}
}
