//Font families
$ff-standard: "Montserrat", sans-serif;

//Font sizes
$fs-x-sm: 0.75rem;
$fs-sm: 0.8125rem;
$fs-sm-md: 0.875rem;
$fs-md: 1.125rem;
$fs-md-lg: 1.5rem;
$fs-lg: 2.25rem;
$fs-x-lg: 3rem;
$fs-xx-lg: 6rem;
$fs-xxx-lg: 18rem;

//Font weights
$fw-light: 400;
$fw-normal: 500;
$fw-bold: 700;

//Line heights
$lh-standard: 142.6%;
