//Color variables
$red: #FF0101;
$red-opaque: rgba(255, 1, 1, 0.7);
$black: #000;
$black-normal: #020203;
$black-light: #282D30;
$gray: #74798C;
$gray-light: #FBFBFB;
$white: #FFF;

//Transition and animation time variables
$tt-standard: 350ms;