//Color variables
$color-primary: #ff6060;

$gray-lighter: #f6f6f6;
$gray-normal: #e3e3e3;
$gray-darker: #c4c4c4;

$color-white: #fff;
$color-black: #000;

//Transition and animation time variables
$tt-arrow-turn: 350ms;
$tt-card-display: 300ms;